*
!.gitignore
!.gitmodules
!.gitconfig

!.vimrc
!.vim
!.vim/*
!.vim/*/*
.vim/plugged/*
.vim/autoload/plug.vim
.vim/.netrwhist

!.cvimrc

!.bashrc
!.zshrc
!.zlogin

!.i3
!.urxvt
!.Xdefault
!.xinitrc
!.xsession

!.bin
!.bin/*
!.bin/*/*
!.bin/*/*/*

!.screenlayout
!.screenlayout/*
