[submodule ".bin/packages/z"]
	path = .bin/packages/z
	url = https://github.com/rupa/z.git
[submodule ".bin/packages/zsh-syntax-highlighting"]
	path = .bin/packages/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule ".dotfiles-local"]
	path = .dotfiles-local
	url = https://github.com/jbigalet/dotfiles-local.git
	branch = -toreplace- # local branch autoupdated on checkout
